<%- include('includes/head') %>

<header id="main-header">
	<h1>Curso Básico ao Avançado Javascript/Typescript</h1>
</header>
<main>
	<section id="container">
		<h2>
			<% if (typeof titulo !== 'undefined') { %> <%= titulo %> <% } else { %>
			<%= 'Titulo não enviado.' %> <% } %>
		</h2>
		<p>Categorias:</p>
		<% categoria.forEach(cat => { %> <%= cat %>, <% }); %>
		<form action="/" method="post" class="form">
			<input type="hidden" name="_csrf" value=<%= csrfToken %>>
			<label>Usuário</label>
			<input type="text" name="user" />
			<label>Email</label>
			<input type="email" name="email" id="" />
			<button type="submit" class="sendBtn">Enviar</button>
		</form>
	</section>
</main>
<%- include('includes/pageFooter') %> <%- include('includes/footer') %>
